<div class="beer-image">
    <img src="/images/beer.png" alt="Beer">
    <div class="buttons">
        <a href="/beers" class="btn-primary">Check the Beers!</a>
        <a href="/random-beer" class="btn-secondary">Check a Random Beer</a>
    </div>
</div>